<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-rpwSdp5Ka6-netJPSufPzm4vppfp8qI</string>
	<key>GCM_SENDER_ID</key>
	<string>752779059001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reflect</string>
	<key>PROJECT_ID</key>
	<string>reflect-a015d</string>
	<key>STORAGE_BUCKET</key>
	<string>reflect-a015d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752779059001:ios:8df5f206e5ca2f1d3512e8</string>
	<key>DATABASE_URL</key>
	<string>https://reflect-a015d-default-rtdb.firebaseio.com</string>
</dict>
</plist>